{% extends "layout.html" %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <p>
        To configure a new dispatch task, select one from the list of available
        tasks.
      </p>
    </div>
    <div class="col-md-8">
      <form>
        <input
          name="search"
          type="text"
          placeholder="Search available tasks"
          class="form-control"
          value="{{ search if search else "" }}" />
      </form>

      <div class="event-list configure">
      {% for task in taskdefs() %}
        <div class="event">
          <h4>
            <a
              href="/{{ task.name }}/configure"
              class="btn btn-primary btn-sm pull-right"
            >
              Configure task
              <i class="fa fa-caret-right"></i>
            </a>
            {{ task.description }}
          </h4>
          <div class="clearfix"></div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

