{% extends "layout.html" %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>dispatch</h2>
      <p>
        Welcome back, {{ current_user.username }}!
        This service allows you to integrate various sr.ht services with each
        other or with external services.
      </p>
      <div class="alert alert-danger">
        <strong>Warning!</strong> This is tool is very WIP. Many things do not
        work. Use at your own risk and do not send me bug reports!
      </div>
      <a
        href="/configure"
        class="btn btn-default btn-block"
      >Configure new task</a>
    </div>
    <div class="col-md-8">
      {% if not any(tasks) %}
      <p class="text-muted">
        You haven't created any tasks yet.
      </p>
      {% else %}
      <form>
        <input
          name="search"
          type="text"
          placeholder="Search your tasks"
          class="form-control"
          value="{{ search if search else "" }}" />
      </form>

      <div class="tasks">
        {% for task in tasks %}
        <div class="task">
          <h4>
            <a class="manage btn btn-default btn-sm" href="#">
              Manage
            </a>
            {{ task.name }}
          </h4>
          <p>
            {{ task.taskdef.description }}
          </p>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

