{% extends "layout.html" %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <p>
        Welcome back, {{ current_user.username }}!
        This is the {{cfg("sr.ht", "site-name")}} dispatch service.
        Documentation for its use is
        <a href="https://man.sr.ht/dispatch.sr.ht">available here</a>.
      </p>
      <a
        href="/configure"
        class="btn btn-primary btn-block"
      >Configure new task {{icon("caret-right")}}</a>
    </div>
    <div class="col-md-8">
      {% if not any(tasks) %}
      <p class="text-muted">
        You haven't created any tasks yet.
      </p>
      {% else %}
      <form>
        <input
          name="search"
          type="text"
          placeholder="Search your tasks"
          class="form-control"
          value="{{ search if search else "" }}" />
      </form>

      <div class="event-list">
        {% for task in tasks %}
        <div class="event">
          <h4>
            <a href="{{url_for("html.edit_task", task_id=task.id)}}">
              {{ task.name }}
            </a>
          </h4>
          <p>
            {{ task.taskdef.description() }}
          </p>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    {{pagination()}}
  </div>
</div>
{% endblock %}

